.DS_Store
*.d
c5.fa
c6.fa

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
